@import url('./reset.css');

:root {
	--color-primary: #4c2982;
	--color-secondary: #f9d170;
	--color-bg: #f9f7f3;
	--color-text: #252525;
	--color-light: #f3f3f3;
	--color-success: #067973;
	--color-success-bg: #f5fffe;
	--color-error: #b71540;
	--color-error-bg: #fdeff3;
}

body {
	padding: 2rem;
	background: var(--color-bg);
	color: #252525;
	font-family: sans-serif;
	display: flex;
}

main {
	margin: auto;
}

a:not([class]) {
	color: currentColor;
}

h1 {
	color: var(--color-primary);
	max-width: 300px;
	font-size: 35px;
	font-weight: 800;
	line-height: 1;
	letter-spacing: -2px;
}

section {
	max-width: 320px;
}

form {
	padding-top: 30px;
	display: flex;
	flex-wrap: wrap;
}

label {
	flex: 100%;
	font-size: 18px;
	font-weight: 600;
	color: var(--color-primary);
}

.input {
	flex-grow: 1;
	display: block;
	padding: 10px;
	font-size: 18px;
	box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
	border: none;
	color: var(--color-text);
}
.input:focus::placeholder {
	font-size: 0;
}
.input:focus {
	outline-color: var(--color-primary);
}

.btn {
	background-color: var(--color-secondary);
	display: block;
	border: none;
	text-decoration: none;
	padding: 15px 25px;
	border: 1px solid transparent;
	position: relative;
	outline: none;
	transition: border-color 0.5s ease;
	cursor: pointer;
	box-shadow: 2px 0 6px 2px rgba(0, 0, 0, 0.1);
}
.btn:hover {
	border-color: var(--color-primary);
}
.btn::before {
	position: absolute;
	content: '';
	height: 2px;
	width: 30%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--color-primary);
}
.btn::after {
	position: absolute;
	content: '';
	top: 50%;
	left: 55%;
	transform: translate(-50%, -50%) rotate(-45deg);
	width: 10px;
	height: 10px;
	border-right: 2px solid var(--color-primary);
	border-bottom: 2px solid var(--color-primary);
}

.banner {
	margin-top: 15px;
	padding: 15px 15px 15px 40px;
	background-color: var(--color-error-bg);
	border: 1px solid var(--color-error);
	color: var(--color-error);
}

.banner.banner--green {
	background-color: var(--color-success-bg);
	color: var(--color-success);
	border: 1px solid var(--color-success);
	position: relative;
}

.banner--green::before {
	position: absolute;
	content: '';
	width: 20px;
	height: 10px;
	border-bottom: 2px solid var(--color-success);
	border-left: 2px solid var(--color-success);
	border-radius: 2px;
	top: 20px;
	left: 10px;
	transform: rotate(-45deg);
}
